.btn {
    border-width: 2px;
}

body {
    font-family: Jost;
}

.display-1 {
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    line-height: 1.1;
}

.display-1>.mbr-iconfont {
    font-size: 1.25rem;
}

.display-2 {
    font-family: 'Jost', sans-serif;
    font-size: 2.8rem;
    line-height: 1.1;
}

.display-2>.mbr-iconfont {
    font-size: 3.5rem;
}

.display-4 {
    font-family: 'Jost', sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
}

.display-4>.mbr-iconfont {
    font-size: 2.25rem;
}

.display-5 {
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

.display-5>.mbr-iconfont {
    font-size: 2.5rem;
}

.display-7 {
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.display-7>.mbr-iconfont {
    font-size: 1.25rem;
}

/* ---- Fluid typography for mobile devices ---- */

/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */

/* 100vw - current viewport width */

/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */

/* 0.65 - min scale variable, may vary */

@media (max-width: 992px) {
    .display-1 {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .display-1 {
        font-size: 0.7rem;
        font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.1 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-2 {
        font-size: 2.24rem;
        font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.3 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-4 {
        font-size: 1.44rem;
        font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-5 {
        font-size: 1.6rem;
        font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-7 {
        font-size: 0.8rem;
        font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
    }
}

/* Buttons */

.btn {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-sm {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-md {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-lg {
    padding: 1rem 2.6rem;
    border-radius: 4px;
}

.bg-primary {
    background-color: #6592e6 !important;
}

.bg-success {
    background-color: #40b0bf !important;
}

.bg-info {
    background-color: #47b5ed !important;
}

.bg-warning {
    background-color: #ffe161 !important;
}

.bg-danger {
    background-color: #ff9966 !important;
}

.btn-primary,
.btn-primary:active {
    background-color: #6592e6 !important;
    border-color: #6592e6 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
    color: #ffffff !important;
    background-color: #2260d2 !important;
    border-color: #2260d2 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #ffffff !important;
    background-color: #2260d2 !important;
    border-color: #2260d2 !important;
}

.btn-secondary,
.btn-secondary:active {
    background-color: #ff6666 !important;
    border-color: #ff6666 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
    color: #ffffff !important;
    background-color: #ff0f0f !important;
    border-color: #ff0f0f !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #ffffff !important;
    background-color: #ff0f0f !important;
    border-color: #ff0f0f !important;
}

.btn-info,
.btn-info:active {
    background-color: #47b5ed !important;
    border-color: #47b5ed !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
    color: #ffffff !important;
    background-color: #148cca !important;
    border-color: #148cca !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-info.disabled,
.btn-info:disabled {
    color: #ffffff !important;
    background-color: #148cca !important;
    border-color: #148cca !important;
}

.btn-success,
.btn-success:active {
    background-color: #40b0bf !important;
    border-color: #40b0bf !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
    color: #ffffff !important;
    background-color: #2a747e !important;
    border-color: #2a747e !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-success.disabled,
.btn-success:disabled {
    color: #ffffff !important;
    background-color: #2a747e !important;
    border-color: #2a747e !important;
}

.btn-warning,
.btn-warning:active {
    background-color: #ffe161 !important;
    border-color: #ffe161 !important;
    color: #614f00 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
    color: #0a0800 !important;
    background-color: #ffd10a !important;
    border-color: #ffd10a !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #614f00 !important;
    background-color: #ffd10a !important;
    border-color: #ffd10a !important;
}

.btn-danger,
.btn-danger:active {
    background-color: #ff9966 !important;
    border-color: #ff9966 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
    color: #ffffff !important;
    background-color: #ff5f0f !important;
    border-color: #ff5f0f !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #ffffff !important;
    background-color: #ff5f0f !important;
    border-color: #ff5f0f !important;
}

.btn-white,
.btn-white:active {
    background-color: #fafafa !important;
    border-color: #fafafa !important;
    color: #7a7a7a !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
    color: #4f4f4f !important;
    background-color: #cfcfcf !important;
    border-color: #cfcfcf !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-white.disabled,
.btn-white:disabled {
    color: #7a7a7a !important;
    background-color: #cfcfcf !important;
    border-color: #cfcfcf !important;
}

.btn-black,
.btn-black:active {
    background-color: #232323 !important;
    border-color: #232323 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-black.disabled,
.btn-black:disabled {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn-primary-outline,
.btn-primary-outline:active {
    background-color: transparent !important;
    border-color: #6592e6;
    color: #6592e6;
}

.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
    color: #2260d2 !important;
    background-color: transparent !important;
    border-color: #2260d2 !important;
    box-shadow: none !important;
}

.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
    color: #ffffff !important;
    background-color: #6592e6 !important;
    border-color: #6592e6 !important;
}

.btn-secondary-outline,
.btn-secondary-outline:active {
    background-color: transparent !important;
    border-color: #ff6666;
    color: #ff6666;
}

.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
    color: #ff0f0f !important;
    background-color: transparent !important;
    border-color: #ff0f0f !important;
    box-shadow: none !important;
}

.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
    color: #ffffff !important;
    background-color: #ff6666 !important;
    border-color: #ff6666 !important;
}

.btn-info-outline,
.btn-info-outline:active {
    background-color: transparent !important;
    border-color: #47b5ed;
    color: #47b5ed;
}

.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
    color: #148cca !important;
    background-color: transparent !important;
    border-color: #148cca !important;
    box-shadow: none !important;
}

.btn-info-outline.disabled,
.btn-info-outline:disabled {
    color: #ffffff !important;
    background-color: #47b5ed !important;
    border-color: #47b5ed !important;
}

.btn-success-outline,
.btn-success-outline:active {
    background-color: transparent !important;
    border-color: #40b0bf;
    color: #40b0bf;
}

.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
    color: #2a747e !important;
    background-color: transparent !important;
    border-color: #2a747e !important;
    box-shadow: none !important;
}

.btn-success-outline.disabled,
.btn-success-outline:disabled {
    color: #ffffff !important;
    background-color: #40b0bf !important;
    border-color: #40b0bf !important;
}

.btn-warning-outline,
.btn-warning-outline:active {
    background-color: transparent !important;
    border-color: #ffe161;
    color: #ffe161;
}

.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
    color: #ffd10a !important;
    background-color: transparent !important;
    border-color: #ffd10a !important;
    box-shadow: none !important;
}

.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
    color: #614f00 !important;
    background-color: #ffe161 !important;
    border-color: #ffe161 !important;
}

.btn-danger-outline,
.btn-danger-outline:active {
    background-color: transparent !important;
    border-color: #ff9966;
    color: #ff9966;
}

.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
    color: #ff5f0f !important;
    background-color: transparent !important;
    border-color: #ff5f0f !important;
    box-shadow: none !important;
}

.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
    color: #ffffff !important;
    background-color: #ff9966 !important;
    border-color: #ff9966 !important;
}

.btn-black-outline,
.btn-black-outline:active {
    background-color: transparent !important;
    border-color: #232323;
    color: #232323;
}

.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
    color: #000000 !important;
    background-color: transparent !important;
    border-color: #000000 !important;
    box-shadow: none !important;
}

.btn-black-outline.disabled,
.btn-black-outline:disabled {
    color: #ffffff !important;
    background-color: #232323 !important;
    border-color: #232323 !important;
}

.btn-white-outline,
.btn-white-outline:active {
    background-color: transparent !important;
    border-color: #fafafa;
    color: #fafafa;
}

.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
    color: #cfcfcf !important;
    background-color: transparent !important;
    border-color: #cfcfcf !important;
    box-shadow: none !important;
}

.btn-white-outline.disabled,
.btn-white-outline:disabled {
    color: #7a7a7a !important;
    background-color: #fafafa !important;
    border-color: #fafafa !important;
}

.text-primary {
    color: #6592e6 !important;
}

.text-secondary {
    color: #ff6666 !important;
}

.text-success {
    color: #40b0bf !important;
}

.text-info {
    color: #47b5ed !important;
}

.text-warning {
    color: #ffe161 !important;
}

.text-danger {
    color: #ff9966 !important;
}

.text-white {
    color: #fafafa !important;
}

.text-black {
    color: #232323 !important;
}

a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
    color: #205ac5 !important;
}

a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
    color: #ff0000 !important;
}

a.text-success:hover,
a.text-success:focus,
a.text-success.active {
    color: #266a73 !important;
}

a.text-info:hover,
a.text-info:focus,
a.text-info.active {
    color: #1283bc !important;
}

a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
    color: #facb00 !important;
}

a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
    color: #ff5500 !important;
}

a.text-white:hover,
a.text-white:focus,
a.text-white.active {
    color: #c7c7c7 !important;
}

a.text-black:hover,
a.text-black:focus,
a.text-black.active {
    color: #000000 !important;
}

a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
    position: relative;
    background-image: transparent;
    background-size: 10000px 2px;
    background-repeat: no-repeat;
    background-position: 0px 1.2em;
    background-position: -10000px 1.2em;
}

a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
    transition: background-position 2s ease-in-out;
    background-image: linear-gradient(currentColor 50%, currentColor 50%);
    background-position: 0px 1.2em;
}

.nav-tabs .nav-link.active {
    color: #6592e6;
}

.nav-tabs .nav-link:not(.active) {
    color: #232323;
}

.alert-success {
    background-color: #70c770;
}

.alert-info {
    background-color: #47b5ed;
}

.alert-warning {
    background-color: #ffe161;
}

.alert-danger {
    background-color: #ff9966;
}

.mbr-section-btn a.btn:not(.btn-form) {
    border-radius: 100px;
}

.mbr-gallery-filter li a {
    border-radius: 100px !important;
}

.mbr-gallery-filter li.active .btn {
    background-color: #6592e6;
    border-color: #6592e6;
    color: #ffffff;
}

.mbr-gallery-filter li.active .btn:focus {
    box-shadow: none;
}

.nav-tabs .nav-link {
    border-radius: 100px !important;
}

a,
a:hover {
    color: #6592e6;
}

.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
    color: #a0d8df;
}

.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
    color: #ffffff;
}

.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
    color: #ffffff;
}

/* Scroll to top button*/

#scrollToTop a {
    border-radius: 100px;
}

.form-control {
    font-family: 'Jost', sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 400;
}

.form-control>.mbr-iconfont {
    font-size: 2.25rem;
}

.form-control:hover,
.form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    border-color: #6592e6 !important;
}

.form-control:-webkit-input-placeholder {
    font-family: 'Jost', sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 400;
}

.form-control:-webkit-input-placeholder>.mbr-iconfont {
    font-size: 2.25rem;
}

blockquote {
    border-color: #6592e6;
}

/* Forms */

.mbr-form .input-group-btn a.btn {
    border-radius: 100px !important;
}

.mbr-form .input-group-btn a.btn:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.mbr-form .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
    padding: 1rem 3rem;
}

.mbr-form .input-group-btn button[type="submit"]:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}

.jq-selectbox li:hover,
.jq-selectbox li.selected {
    background-color: #6592e6;
    color: #ffffff;
}

.jq-number__spin {
    transition: 0.25s ease;
}

.jq-number__spin:hover {
    border-color: #6592e6;
}

.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
    transition: 0.4s;
    border-top-color: #353535;
    border-bottom-color: #353535;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
    border-top-color: #6592e6;
    border-bottom-color: #6592e6;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    color: #ffffff !important;
    background-color: #6592e6 !important;
    box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    color: #000000 !important;
    background: #ff6666 !important;
    box-shadow: none !important;
}

.lazy-bg {
    background-image: none !important;
}

.lazy-placeholder:not(section),
.lazy-none {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: auto;
}

iframe.lazy-placeholder,
.lazy-placeholder:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: transparent no-repeat center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

section.lazy-placeholder:after {
    opacity: 0.5;
}

body {
    overflow-x: hidden;
}

a {
    transition: color 0.6s;
}

.cid-tqE6a8r2U9 .navbar-dropdown {
    position: relative !important;
}

.cid-tqE6a8r2U9 .dropdown-item:before {
    font-family: Moririse2 !important;
    content: "\e966";
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    transform: scale(0, 1);
    transition: all 0.25s ease-in-out;
}

.cid-tqE6a8r2U9 .dropdown-menu {
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.cid-tqE6a8r2U9 .dropdown-item {
    border-bottom: 1px solid #e6e6e6;
}

.cid-tqE6a8r2U9 .dropdown-item:hover,
.cid-tqE6a8r2U9 .dropdown-item:focus {
    background: #6592e6 !important;
    color: white !important;
}

.cid-tqE6a8r2U9 .dropdown-item:hover span {
    color: white;
}

.cid-tqE6a8r2U9 .dropdown-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cid-tqE6a8r2U9 .dropdown-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cid-tqE6a8r2U9 .nav-dropdown .link {
    padding: 0 0.3em !important;
    margin: 0.667em 1em !important;
}

.cid-tqE6a8r2U9 .nav-dropdown .link.dropdown-toggle::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}

.cid-tqE6a8r2U9 .nav-link {
    position: relative;
}

.cid-tqE6a8r2U9 .container {
    display: flex;
    margin: auto;
}

@media (min-width: 992px) {
    .cid-tqE6a8r2U9 .container {
        flex-wrap: nowrap;
    }
}

.cid-tqE6a8r2U9 .iconfont-wrapper {
    color: #000000 !important;
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.cid-tqE6a8r2U9 .dropdown-menu,
.cid-tqE6a8r2U9 .navbar.opened {
    background: #47b5ed !important;
}

.cid-tqE6a8r2U9 .nav-item:focus,
.cid-tqE6a8r2U9 .nav-link:focus {
    outline: none;
}

.cid-tqE6a8r2U9 .dropdown .dropdown-menu .dropdown-item {
    width: auto;
    transition: all 0.25s ease-in-out;
}

.cid-tqE6a8r2U9 .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
}

.cid-tqE6a8r2U9 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
    margin-right: 0.5rem;
    vertical-align: sub;
}

.cid-tqE6a8r2U9 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
    display: inline-block;
    transform: scale(1, 1);
    transition: all 0.25s ease-in-out;
}

.cid-tqE6a8r2U9 .collapsed .dropdown-menu .dropdown-item:before {
    display: none;
}

.cid-tqE6a8r2U9 .collapsed .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
}

.cid-tqE6a8r2U9 .navbar {
    min-height: 70px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #47b5ed;
}

.cid-tqE6a8r2U9 .navbar.opened {
    transition: all 0.3s;
}

.cid-tqE6a8r2U9 .navbar .dropdown-item {
    padding: 0.5rem 1.8rem;
}

.cid-tqE6a8r2U9 .navbar .navbar-logo img {
    width: auto;
}

.cid-tqE6a8r2U9 .navbar .navbar-collapse {
    justify-content: flex-end;
    z-index: 1;
}

.cid-tqE6a8r2U9 .navbar.collapsed {
    justify-content: center;
}

.cid-tqE6a8r2U9 .navbar.collapsed .nav-item .nav-link::before {
    display: none;
}

.cid-tqE6a8r2U9 .navbar.collapsed.opened .dropdown-menu {
    top: 0;
}

.cid-tqE6a8r2U9 .navbar.collapsed .dropdown-menu .dropdown-submenu {
    left: 0 !important;
}

.cid-tqE6a8r2U9 .navbar.collapsed .dropdown-menu .dropdown-item:after {
    right: auto;
}

.cid-tqE6a8r2U9 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 41%;
}

.cid-tqE6a8r2U9 .navbar.collapsed ul.navbar-nav li {
    margin: auto;
}

.cid-tqE6a8r2U9 .navbar.collapsed .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
}

.cid-tqE6a8r2U9 .navbar.collapsed .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media (max-width: 991px) {
    .cid-tqE6a8r2U9 .navbar .nav-item .nav-link::before {
        display: none;
    }
    .cid-tqE6a8r2U9 .navbar.opened .dropdown-menu {
        top: 0;
    }
    .cid-tqE6a8r2U9 .navbar .dropdown-menu .dropdown-submenu {
        left: 0 !important;
    }
    .cid-tqE6a8r2U9 .navbar .dropdown-menu .dropdown-item:after {
        right: auto;
    }
    .cid-tqE6a8r2U9 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
        margin-left: 0.5rem;
        margin-top: 0.2rem;
        border-top: 0.35em solid;
        border-right: 0.35em solid transparent;
        border-left: 0.35em solid transparent;
        border-bottom: 0;
        top: 40%;
    }
    .cid-tqE6a8r2U9 .navbar .navbar-logo img {
        height: 3rem !important;
    }
    .cid-tqE6a8r2U9 .navbar ul.navbar-nav li {
        margin: auto;
    }
    .cid-tqE6a8r2U9 .navbar .dropdown-menu .dropdown-item {
        padding: 0.25rem 1.5rem !important;
        text-align: center;
    }
    .cid-tqE6a8r2U9 .navbar .navbar-brand {
        flex-shrink: initial;
        flex-basis: auto;
        word-break: break-word;
        padding-right: 2rem;
    }
    .cid-tqE6a8r2U9 .navbar .navbar-toggler {
        flex-basis: auto;
    }
    .cid-tqE6a8r2U9 .navbar .icons-menu {
        padding-left: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media (max-width: 991px) and (max-width: 767px) {
    .cid-tqE6a8r2U9 .navbar .navbar-brand {
        width: calc(100% - 31px);
    }
}

.cid-tqE6a8r2U9 .navbar.navbar-short {
    min-height: 60px;
}

.cid-tqE6a8r2U9 .navbar.navbar-short .navbar-logo img {
    height: 2.5rem !important;
}

.cid-tqE6a8r2U9 .navbar.navbar-short .navbar-brand {
    min-height: 60px;
    padding: 0;
}

.cid-tqE6a8r2U9 .navbar-brand {
    min-height: 70px;
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
}

.cid-tqE6a8r2U9 .navbar-brand .navbar-caption {
    line-height: inherit !important;
}

.cid-tqE6a8r2U9 .navbar-brand .navbar-logo a {
    outline: none;
}

.cid-tqE6a8r2U9 .dropdown-item.active,
.cid-tqE6a8r2U9 .dropdown-item:active {
    background-color: transparent;
}

.cid-tqE6a8r2U9 .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.cid-tqE6a8r2U9 .nav-dropdown .link.dropdown-toggle {
    margin-right: 1.667em;
}

.cid-tqE6a8r2U9 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.667em;
}

.cid-tqE6a8r2U9 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    background: #47b5ed;
}

.cid-tqE6a8r2U9 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
    left: 100%;
}

.cid-tqE6a8r2U9 .navbar .dropdown.open>.dropdown-menu {
    display: block;
}

.cid-tqE6a8r2U9 ul.navbar-nav {
    flex-wrap: wrap;
}

.cid-tqE6a8r2U9 .navbar-buttons {
    text-align: center;
    min-width: 170px;
}

.cid-tqE6a8r2U9 button.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
}

.cid-tqE6a8r2U9 button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #000000;
}

.cid-tqE6a8r2U9 button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all 0.2s;
}

.cid-tqE6a8r2U9 button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all 0.15s;
}

.cid-tqE6a8r2U9 button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all 0.15s;
}

.cid-tqE6a8r2U9 button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all 0.2s;
}

.cid-tqE6a8r2U9 nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
}

.cid-tqE6a8r2U9 nav.opened .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.25s;
}

.cid-tqE6a8r2U9 nav.opened .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 0.25s;
}

.cid-tqE6a8r2U9 nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
}

.cid-tqE6a8r2U9 .navbar-dropdown {
    padding: 0 1rem;
}

.cid-tqE6a8r2U9 a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cid-tqE6a8r2U9 .icons-menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    text-align: center;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .cid-tqE6a8r2U9 .navbar {
        height: 70px;
    }
    .cid-tqE6a8r2U9 .navbar.opened {
        height: auto;
    }
    .cid-tqE6a8r2U9 .nav-item .nav-link:hover::before {
        width: 175%;
        max-width: calc(100% + 2rem);
        left: -1rem;
    }
}

.cid-tqISKeiJrJ {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tqISKeiJrJ .mbr-fallback-image.disabled {
    display: none;
}

.cid-tqISKeiJrJ .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tqISKeiJrJ .content-wrapper {
    background: #ffffff;
}

@media (max-width: 991px) {
    .cid-tqISKeiJrJ .content-wrapper .image-wrapper {
        margin-bottom: 2rem;
    }
}

@media (max-width: 767px) {
    .cid-tqISKeiJrJ .content-wrapper {
        padding: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cid-tqISKeiJrJ .content-wrapper {
        padding: 2rem;
    }
}

@media (min-width: 992px) {
    .cid-tqISKeiJrJ .content-wrapper {
        padding: 5rem 3rem;
    }
    .cid-tqISKeiJrJ .content-wrapper .text-wrapper {
        padding-left: 2rem;
    }
}

.cid-tqISKeiJrJ .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

.cid-tqISKeiJrJ .card-title {
    text-align: center;
    color: #e43f3f;
}

.cid-tqISKeiJrJ .mbr-text,
.cid-tqISKeiJrJ .mbr-section-btn {
    text-align: center;
}

.cid-tqJw3w8zuE {
    padding-top: 1rem;
    padding-bottom: 0rem;
    background-color: #47b5ed;
}

.cid-tqJw3w8zuE .mbr-fallback-image.disabled {
    display: none;
}

.cid-tqJw3w8zuE .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tqJw3w8zuE .mbr-text,
.cid-tqJw3w8zuE .mbr-section-btn {
    color: #232323;
}

.cid-tqJw3w8zuE .card-title,
.cid-tqJw3w8zuE .card-box {
    color: #ffffff;
}

.cid-tqJw3w8zuE .mbr-text,
.cid-tqJw3w8zuE .link-wrap {
    color: #ffffff;
}

.cid-tqJw3w8zuE .card-box .mbr-text,
.cid-tqJw3w8zuE .mbr-section-btn {
    color: #ffe161;
}

.cid-tqJwfgEgmm {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tqJwfgEgmm img,
.cid-tqJwfgEgmm .item-img {
    width: 100%;
}

.cid-tqJwfgEgmm .item:focus,
.cid-tqJwfgEgmm span:focus {
    outline: none;
}

.cid-tqJwfgEgmm .item {
    cursor: pointer;
    margin-bottom: 2rem;
}

.cid-tqJwfgEgmm .item-wrapper {
    position: relative;
    border-radius: 4px;
    background: #fafafa;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

@media (min-width: 992px) {
    .cid-tqJwfgEgmm .item-wrapper .item-content {
        padding: 2rem;
    }
}

@media (max-width: 991px) {
    .cid-tqJwfgEgmm .item-wrapper .item-content {
        padding: 1rem;
    }
}

.cid-tqJwfgEgmm .item-wrapper {
    background: transparent;
}

.cid-tqJwfgEgmm .mbr-section-btn {
    margin-top: auto !important;
}

.cid-tqJwfgEgmm .mbr-section-title {
    color: #232323;
}

.cid-tqJwfgEgmm .mbr-text,
.cid-tqJwfgEgmm .mbr-section-btn {
    text-align: left;
}

.cid-tqJwfgEgmm .item-title {
    text-align: left;
}

.cid-tqJwfgEgmm .item-subtitle {
    text-align: center;
}

.cid-tqJwgbiGNF {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tqJwgbiGNF .line {
    background-color: #ff8a8a;
    align: center;
    height: 2px;
    margin: 0 auto;
}

.cid-tqJwgbiGNF .mbr-text {
    color: #e43f3f;
}

.cid-tr8RDewEYg {
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #ffffff;
}

.cid-tr8RDewEYg .mbr-fallback-image.disabled {
    display: none;
}

.cid-tr8RDewEYg .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

@media (max-width: 991px) {
    .cid-tr8RDewEYg .image-wrapper {
        margin-bottom: 1rem;
    }
}

.cid-tr8RDewEYg .row {
    flex-direction: row-reverse;
}

.cid-tr8RDewEYg img {
    width: 100%;
}

.cid-tqIYRjYMDJ {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tqIYRjYMDJ .mbr-fallback-image.disabled {
    display: none;
}

.cid-tqIYRjYMDJ .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

@media (max-width: 991px) {
    .cid-tqIYRjYMDJ .image-wrapper {
        margin-bottom: 1rem;
    }
}

.cid-tqIYRjYMDJ img {
    width: 100%;
}

@media (min-width: 992px) {
    .cid-tqIYRjYMDJ .text-wrapper {
        padding: 2rem;
    }
}

.cid-tqIYRjYMDJ .mbr-text {
    color: #353535;
}

.cid-tqIYRjYMDJ .mbr-section-title {
    color: #353535;
}

.cid-tr6HT6N54h {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tr6HT6N54h .mbr-fallback-image.disabled {
    display: none;
}

.cid-tr6HT6N54h .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tqJuCdk4Y1 {
    padding-top: 0rem;
    padding-bottom: 2rem;
    background-color: #ffffff;
}

.cid-tqJuCdk4Y1 .mbr-fallback-image.disabled {
    display: none;
}

.cid-tqJuCdk4Y1 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tqJuCdk4Y1 .mbr-section-subtitle {
    text-align: left;
    color: #000000;
}

.cid-tqJzZFGo0x {
    padding-top: 1rem;
    padding-bottom: 0rem;
    background-color: #47b5ed;
}

.cid-tqJzZFGo0x .mbr-fallback-image.disabled {
    display: none;
}

.cid-tqJzZFGo0x .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tqJzZFGo0x .mbr-section-title {
    color: #ffffff;
}

.cid-tr8CSbifd5 {
    padding-top: 1rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tr8CSbifd5 .mbr-fallback-image.disabled {
    display: none;
}

.cid-tr8CSbifd5 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tr8CSbifd5 .item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

@media (min-width: 991px) {
    .cid-tr8CSbifd5 .item {
        margin-bottom: 4rem;
    }
}

.cid-tr8CSbifd5 .item:last-child .icon-box:before {
    display: none;
}

.cid-tr8CSbifd5 .item.last .icon-box:before {
    display: none;
}

.cid-tr8CSbifd5 .icon-box {
    background: #47b5ed;
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (max-width: 768px) {
    .cid-tr8CSbifd5 .icon-box {
        margin-right: 1rem;
    }
}

.cid-tr8CSbifd5 .icon-box::before {
    content: "\e925";
    font-family: Moririse2 !important;
    position: absolute;
    font-size: 60px;
    left: 50%;
    top: 90%;
    color: #47b5ed;
    transform: translate(-50%, 0);
}

.cid-tr8CSbifd5 span {
    font-size: 2rem;
    color: #ffffff;
}

@media (max-width: 991px) {
    .cid-tr8CSbifd5 .card {
        margin-bottom: 2rem;
    }
    .cid-tr8CSbifd5 .card-wrapper {
        margin-bottom: 2rem;
    }
    .cid-tr8CSbifd5 .icon-box::before {
        top: 141%;
    }
}

@media (max-width: 768px) {
    .cid-tr8CSbifd5 .icon-box::before {
        top: 114%;
    }
}

.cid-tr6J6R8py6 {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #47b5ed;
}

.cid-tr6J6R8py6 .mbr-fallback-image.disabled {
    display: none;
}

.cid-tr6J6R8py6 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tr6J6R8py6 .mbr-section-title {
    color: #ffffff;
}

.cid-tqJEZx4VdE {
    padding-top: 1rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tqJEZx4VdE .counter-container ul {
    margin: 0;
    list-style: none;
    padding-left: 2.5rem;
}

.cid-tqJEZx4VdE .counter-container ul li {
    margin-bottom: 1rem;
    list-style: none;
    position: relative;
    padding-left: 1rem;
}

.cid-tqJEZx4VdE .counter-container ul li:before {
    position: absolute;
    left: -40px;
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #47b5ed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
    border-radius: 0;
    content: "✓";
}

.cid-tqJEZx4VdE .mbr-section-title {
    text-align: center;
}

.cid-tqJHzQjpwQ {
    padding-top: 1rem;
    padding-bottom: 0rem;
    background-color: #47b5ed;
}

.cid-tqJHzQjpwQ .mbr-fallback-image.disabled {
    display: none;
}

.cid-tqJHzQjpwQ .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tqJHzQjpwQ .mbr-text,
.cid-tqJHzQjpwQ .mbr-section-btn {
    color: #232323;
}

.cid-tqJHzQjpwQ .card-title,
.cid-tqJHzQjpwQ .card-box {
    color: #ffffff;
}

.cid-tqJHzQjpwQ .mbr-text,
.cid-tqJHzQjpwQ .link-wrap {
    color: #ffffff;
}

.cid-tqJHzQjpwQ .card-box .mbr-text,
.cid-tqJHzQjpwQ .mbr-section-btn {
    color: #ffe161;
}

.cid-tqJHAqg55U {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tqJHAqg55U img,
.cid-tqJHAqg55U .item-img {
    width: 100%;
}

.cid-tqJHAqg55U .item:focus,
.cid-tqJHAqg55U span:focus {
    outline: none;
}

.cid-tqJHAqg55U .item {
    cursor: pointer;
    margin-bottom: 2rem;
}

.cid-tqJHAqg55U .item-wrapper {
    position: relative;
    border-radius: 4px;
    background: #fafafa;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

@media (min-width: 992px) {
    .cid-tqJHAqg55U .item-wrapper .item-content {
        padding: 2rem;
    }
}

@media (max-width: 991px) {
    .cid-tqJHAqg55U .item-wrapper .item-content {
        padding: 1rem;
    }
}

.cid-tqJHAqg55U .item-wrapper {
    background: transparent;
}

.cid-tqJHAqg55U .mbr-section-btn {
    margin-top: auto !important;
}

.cid-tqJHAqg55U .mbr-section-title {
    color: #232323;
}

.cid-tqJHAqg55U .mbr-text,
.cid-tqJHAqg55U .mbr-section-btn {
    text-align: left;
}

.cid-tqJHAqg55U .item-title {
    text-align: left;
}

.cid-tqJHAqg55U .item-subtitle {
    text-align: center;
}

.cid-tqJHB0QLsj {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tqJHB0QLsj .line {
    background-color: #ff8a8a;
    align: center;
    height: 2px;
    margin: 0 auto;
}

.cid-tqJHB0QLsj .mbr-text {
    color: #e43f3f;
}

.cid-tqJHBhHrwD {
    padding-top: 1rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tqJHBhHrwD .mbr-fallback-image.disabled {
    display: none;
}

.cid-tqJHBhHrwD .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

@media (max-width: 991px) {
    .cid-tqJHBhHrwD .image-wrapper {
        margin-bottom: 1rem;
    }
}

.cid-tqJHBhHrwD .row {
    flex-direction: row-reverse;
}

.cid-tqJHBhHrwD img {
    width: 100%;
}

.cid-ttDTmHcdkf {
    padding-top: 0rem;
    padding-bottom: 1rem;
    background-color: #47b5ed;
}

.cid-ttDTmHcdkf .mbr-fallback-image.disabled {
    display: none;
}

.cid-ttDTmHcdkf .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-ttDTmHcdkf .content-wrapper {
    background: #47b5ed;
}

@media (max-width: 991px) {
    .cid-ttDTmHcdkf .content-wrapper .image-wrapper {
        margin-bottom: 2rem;
    }
}

@media (max-width: 767px) {
    .cid-ttDTmHcdkf .content-wrapper {
        padding: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cid-ttDTmHcdkf .content-wrapper {
        padding: 2rem;
    }
}

@media (min-width: 992px) {
    .cid-ttDTmHcdkf .content-wrapper {
        padding: 5rem 3rem;
    }
    .cid-ttDTmHcdkf .content-wrapper .text-wrapper {
        padding-left: 2rem;
    }
}

.cid-ttDTmHcdkf .image-wrapper img {
    width: 100%;
    object-fit: cover;
}

.cid-ttDTmHcdkf .card-title {
    color: #ffe161;
    text-align: left;
}

.cid-ttDTmHcdkf .mbr-text,
.cid-ttDTmHcdkf .mbr-section-btn {
    text-align: left;
    color: #fafafa;
}

.cid-tr8OPctNzA {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tr8OPctNzA .mbr-fallback-image.disabled {
    display: none;
}

.cid-tr8OPctNzA .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tr8OPctNzA .mbr-section-title {
    color: #353535;
}

.cid-tr8OMMG53X {
    padding-top: 1rem;
    padding-bottom: 0rem;
    background-color: #ffffff;
}

.cid-tr8OMMG53X .mbr-fallback-image.disabled {
    display: none;
}

.cid-tr8OMMG53X .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tr8OMMG53X .card .card-header {
    background-color: transparent;
    margin-bottom: 0;
}

.cid-tr8OMMG53X .panel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cid-tr8OMMG53X .mbr-iconfont {
    padding-left: 1rem;
    font-family: 'Moririse2' !important;
    font-size: 1.4rem !important;
    color: #6592e6;
}

.cid-tr8OMMG53X .panel-body,
.cid-tr8OMMG53X .card-header {
    padding: 1rem 0;
}

.cid-tr8OMMG53X .panel-title-edit {
    color: #000000;
}

.cid-tqJJxrhAp3 {
    padding-top: 2rem;
    padding-bottom: 0rem;
    background-color: #47b5ed;
}

.cid-tqJJxrhAp3 .mbr-fallback-image.disabled {
    display: none;
}

.cid-tqJJxrhAp3 .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tqJJxrhAp3 .mbr-section-title {
    color: #ffffff;
}

.cid-tqJJxVylQw {
    padding-top: 0rem;
    padding-bottom: 1rem;
    background-color: #47b5ed;
}

.cid-tqJJxVylQw .mbr-fallback-image.disabled {
    display: none;
}

.cid-tqJJxVylQw .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

@media (max-width: 991px) {
    .cid-tqJJxVylQw .image-wrapper {
        margin-bottom: 1rem;
    }
}

.cid-tqJJxVylQw .row {
    flex-direction: row-reverse;
}

.cid-tqJJxVylQw img {
    width: 100%;
}

.cid-tqJJBZAdEa {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #47b5ed;
}

.cid-tqJJBZAdEa .mbr-fallback-image.disabled {
    display: none;
}

.cid-tqJJBZAdEa .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tqJJBZAdEa .mbr-section-title {
    color: #ffffff;
}

.cid-tqJJCoCN4b {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #47b5ed;
}

.cid-tqJJCoCN4b .mbr-fallback-image.disabled {
    display: none;
}

.cid-tqJJCoCN4b .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-tqJJCoCN4b .mbr-text,
.cid-tqJJCoCN4b .mbr-section-btn {
    color: #232323;
}

.cid-tqJJCoCN4b .card-title,
.cid-tqJJCoCN4b .card-box {
    color: #ffffff;
}

.cid-tqJJCoCN4b .mbr-text,
.cid-tqJJCoCN4b .link-wrap {
    color: #ffffff;
}

.cid-tqJJE4Eb1I {
    padding-top: 0rem;
    padding-bottom: 1rem;
    background-color: #47b5ed;
}

.cid-tqJJE4Eb1I .mbr-fallback-image.disabled {
    display: none;
}

.cid-tqJJE4Eb1I .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

@media (max-width: 991px) {
    .cid-tqJJE4Eb1I .image-wrapper {
        margin-bottom: 1rem;
    }
}

.cid-tqJJE4Eb1I .row {
    flex-direction: row-reverse;
}

.cid-tqJJE4Eb1I img {
    width: 100%;
}

.cid-ttEjEilFYU {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #232323;
}

.cid-ttEjEilFYU .row-links {
    width: 100%;
    justify-content: center;
}

.cid-ttEjEilFYU .social-row {
    width: 100%;
    justify-content: center;
}

.cid-ttEjEilFYU .media-container-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cid-ttEjEilFYU .media-container-row .foot-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
}

.cid-ttEjEilFYU .media-container-row .foot-menu li {
    padding: 0 1rem 1rem 1rem;
}

.cid-ttEjEilFYU .media-container-row .foot-menu li p {
    margin: 0;
}

.cid-ttEjEilFYU .media-container-row .social-list {
    width: auto;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.cid-ttEjEilFYU .media-container-row .social-list .mbr-iconfont-social {
    font-size: 1.5rem;
    color: #ffffff;
}

.cid-ttEjEilFYU .media-container-row .social-list .soc-item {
    margin: 0 .5rem;
}

.cid-ttEjEilFYU .media-container-row .social-list a {
    margin: 0;
    opacity: .5;
    transition: .2s linear;
}

.cid-ttEjEilFYU .media-container-row .social-list a:hover {
    opacity: 1;
}

@media (max-width: 767px) {
    .cid-ttEjEilFYU .media-container-row .social-list {
        -webkit-justify-content: center;
        justify-content: center;
    }
}

.cid-ttEjEilFYU .media-container-row .row-copirayt {
    word-break: break-word;
    width: 100%;
}

.cid-ttEjEilFYU .media-container-row .row-copirayt p {
    width: 100%;
}

.cid-ttEjEilFYU .media-container-row .mbr-text {
    text-align: center;
}